<nav class="rfbl-navbar-share">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a href="<%= root_path %>">
        <img src='https://i.postimg.cc/rpBvKrWP/RFBL-ALN.png' alt='RFBL-ALN' class="navbar-brand">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a href="<%= root_path %>#about">About</a></li>
          <li class="nav-item"><a href="<%= root_path %>#services">Services</a></li>
          <li class="nav-item"><a href="<%= root_path %>#app">Our app</a></li>
          <li class="nav-item"><a href="<%= root_path %>#contact">Contact</a></li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="nav-item"><a href="<%= root_path %>#about">About</a></li>
              <li class="nav-item"><a href="<%= root_path %>#services">Services</a></li>
              <li class="nav-item"><a href="<%= root_path %>#app">Our app</a></li>
              <li class="nav-item"><a href="<%= root_path %>#contact">Contact</a></li>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
